<div class="chat-room-show-container">
  <div class="friends-list-container">
    Friends List
    <% all_user = User.all %>
    <% users_subscribed = {} %>
    <% @chat_room.memberships.each {|membership| users_subscribed[membership.user_id] = true} %>
    <% all_other_user = all_user.reject {|acceptable_user| acceptable_user.id === current_user.id || users_subscribed[acceptable_user.id]} %>
    <% all_other_user.each do |user| %>
      <%= link_to memberships_url(membership:{user_id: user.id, chat_room_id: @chat_room.id}), method: :post do %>
        <li><%= user.name %></li>
      <%end%>

    <% end %>
  </div>
  <div class="msg-container row col-md-8 col-md-offset-2">
    <h1><%= @chat_room.title %></h1>
    <div class="panel panel-default">
      <% if @chat_room.messages.any? %>
        <div class="panel-body" id="messages">
          <%= render partial: 'messages/message', collection: @chat_room.messages %>
        </div>
      <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
      <% end %>
      <%= render partial: 'messages/message_form', locals: {message: @message, chat_room: @chat_room} %>
  </div>
</div>
